.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

.loginCard {
  background-color: white;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.logo {
  width: 150px;
  margin-bottom: 30px;
}

.error {
  color: #d32f2f;
  font-size: 0.875rem; /* 14px */
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}